<!DOCTYPE html>
<html>
<head>
  <title>Notatnik</title>
</head>
<body>
<div class="container">
  <div>
<!--    <h1>Witaj na stronie Notanix!</h1>-->
<!--    <a routerLink="/all-notes-view">Pokaz notatki</a>-->
    <ul>
      <li><a routerLink="/start-page" >Strona główna</a></li>
      <li><a routerLink="/all-notes-view" >Przeglądaj notatki</a></li>
      <li><a routerLink="/note-add">Dodaj notatkę</a></li>
<!--      <li><a href="#contact">Contact</a></li>-->
<!--      <li><a href="#about">About</a></li>-->
    </ul>
  </div>

  <router-outlet></router-outlet>

</div>



<!--<app-parent></app-parent>-->
</body>
